@page "/categories"

@inject IDataService DataService
@inject NavigationManager NavigationManager
@inject IAppStateService AppStateService


<h2>Select a Category:</h2>

@if (categories != null)
{
    foreach (var category in categories)
    {
        <button class="custom-btn" @onclick="() => SelectCategory(category.Id)">@category.Name</button>
    }
    <button class="custom-btn" @onclick="() => SelectCategory(0)">Random</button>
}
else
{
    <p>Loading...</p>
}

@code {
    // Holds the list of quiz categories retrieved from the DataService.
    private List<Category> categories;

    // Called when the component is initialized. Loads categories from the DataService.
    protected override async Task OnInitializedAsync()
    {
        var triviaData = await DataService.LoadTriviaDataAsync();
        categories = triviaData.Categories;
    }

    // Called when a category is selected. Sets the AppStateService's current category name and navigates to the category's
    // page.
    private void SelectCategory(int categoryId)
    {
        string categoryName = "Random";

        if (categoryId != 0)
        {
            var category = categories.FirstOrDefault(c => c.Id == categoryId);
            if (category != null)
            {
                categoryName = category.Name;
            }
        }

        AppStateService.SetCurrentCategoryName(categoryName);
        NavigationManager.NavigateTo($"/difficulty/{categoryId}");
    }
}
