@page "/"

@inject NavigationManager NavigationManager

<h1>Welcome to Smartiee, the trivia game!</h1>
<p>Get ready to test your knowledge across various topics and difficulties.</p>
<button class="custom-btn" @onclick="GoToCategories">Continue</button>

@code {
    // Redirects the user to the categories selection page.
    private void GoToCategories()
    {
        NavigationManager.NavigateTo("/categories");
    }
}
