@page "/results/{ScoreAsString}"
@inject NavigationManager NavigationManager
@inject IQuizService QuizService
@inject IAppStateService AppStateService

<h2>Quiz Completed</h2>

@if (timeRanOut)
{
    <p>Time ran out! Here's how you did:</p>
}
else
{
    <p>You've completed the quiz! Here's how you did:</p>
    <p>@QuizDurationText</p>
}

<p>Your score: @Score/@TotalQuestions</p>
<p>That's @Percentage.ToString("0.##")%!</p>

<button class="custom-btn" @onclick="PlayAgain">Play Again</button>
<button class="custom-btn" @onclick="ReturnToMainMenu">Return to Main Menu</button>

@code {
    [Parameter] public string ScoreAsString { get; set; }
    public int Score { get; private set; }
    public int TotalQuestions { get; private set; }
    public double Percentage { get; private set; }
    private bool timeRanOut;

    private string QuizDurationText => QuizService.LastIsTimed ? $"You completed the quiz in {QuizService.GetQuizDuration().ToString(@"mm\:ss")}." : string.Empty;

    // Initializes component state, parsing score and calculating performance metrics.
    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (!int.TryParse(ScoreAsString, out var score))
        {
            throw new InvalidOperationException("Invalid score value.");
        }
        Score = score;

        TotalQuestions = QuizService.TotalQuestions;
        Percentage = TotalQuestions > 0 ? ((double)Score / TotalQuestions) * 100 : 0;
        timeRanOut = QuizService.TimeRanOut;
    }

    // Navigates to the quiz page to play again with the same settings.
    private void PlayAgain()
    {
        var url = $"/quiz/{QuizService.LastCategoryId}/{QuizService.LastDifficulty}/{QuizService.LastIsTimed}";
        NavigationManager.NavigateTo(url);
    }

    // Resets the quiz state and returns to the main menu.
    private void ReturnToMainMenu()
    {
        AppStateService.ResetCategoryNameToDefault();
        NavigationManager.NavigateTo("/");
    }
}
